/*Estilos base y de contenedor */
body {
     font-family: Arial, Helvetica, sans-serif;/*font family es para definir el tipo de letra o tipografria */ 
     line-height: 1.6;/*espacio entre las lineas */
     background-color: #f4f4f4; /*color del fondo de la hv */
     margin: 0;/*define el epsacio transparente alrededor del borde de una elemento separandolos de otros elementos */
     padding: 20px;/*espacio interno entre el contenidode un elemento y su borde */
}
.container {
      width: 850px; /*ancho de la hv */
      margin: 0 auto;
      background-color: #ffffff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      padding: 0;
      overflow: hidden;
}
/*Estilos de las columnas siendo columnas */
.sidebar {
    width: 30%;
    float: left;
    background-color: #e6e6ee;
    padding: 20px;
    box-sizing: border-box;
    height: 100px;
}
.main {
    width: 70%;
    float: left;
    padding: 20px 30px;
    box-sizing: border-box;
}
/*Estilos de contenido interno*/
.sidebar img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
}
.section-title {
    font-size: 1.1 em;/*1em = 16px */
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}
/*Estilo para el titulo de la golden experience*/
.main h4 {
    margin-bottom: 5px;
    color: #007bff;
}